@font-face {
	font-family: Veneer;
	src: url("../font/veneer.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Brandon;
	src: url("../font/brandon.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Avenir;
	src: url("../font/avenir-regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Avenir;
	src: url("../font/avenir-heavy.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: Foci;
	src: url("../font/foci.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: FontAwesome;
	src: url("../font/fa.eot");
	src: url("../font/fa.eot?#iefix") format("embedded-opentype"), url("../font/fa.woff2") format("woff2"), url("../font/fa.woff") format("woff"), url("../font/fa.ttf") format("truetype"), url("../font/fa.svg#icons") format("svg");
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-decoration: inherit;
	text-transform: none;
}

.fa {
	display: inline-block;
	opacity: 1;
	width: 1.18em;
	height: 1em;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	text-align: center;
	speak: none;
	font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
}

.fa:before {
	background: none !important;
}

.fa.fa-heart:before {
	content: "\f004";
}

.foci-logo {
	font-family: foci !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.foci-logo:before {
	content: "\e900";
}

.brandon {
	font-family: Brandon;
}

.avenir {
	font-family: Avenir;
}

.veneer {
	font-family: Veneer;
}
